:root {
    --cor-primaria: #FF0099;
    --cor-secundaria: rgb(0, 23, 128);
    --cor-terciaria:#FDACE0;
    --branco: white; 
    --preto: black ;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* .(id) #(classe) */

header {
    background-color: var(--cor-primaria);  /* parte rosa em cima*/
    display: flex;
    align-items: center;
    padding: 2%;

   
    

}

.bloco-duvidas{
    background-color: #FDACE0;  /*cor de fundo dos cilindros*/
    border-radius: 40px; /*faz a caixinha avirar um cilindro*/
    padding: 35px;
    margin: 50px 20px;
    width: 1000px; /*largura dos cilindros* diminui a largura*/
}

#ajustes-img-text img {    /* deixar a imagem redonda-Max-width,aspect-radio, border-radius e object-fit*/
    max-width: 400px;
    aspect-ratio: 1/1;
    border-radius: 60%;
    object-fit: cover;
    
}

.duvidas {  /*deixou a imagem o h1 e h2 do lado dos textos*/
    display: grid;  
    grid-template-columns:repeat(2,1fr);
}

#ajustes-img-text {   /* centralizar o Ainda com poblemas e fale conosco*/
    margin:;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

#ajustes-img-text h2 {
    background-color: #ff67ca; /*cilindro menor*/
    padding: 20px 40px;
    border-radius: 40px; /*faz a caixinha virar cilindro*/


}

#ajustes-img-text,img,h1,h2 { 
margin-bottom: 10px; 

}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 0.75rem;
    background-color: var(--cor-terciaria);
    
}

nav a:first-child {  /*o tracinho no meio*/
    border-right: 2px solid var(--preto);
    align-items: center;
}

    h1 {
        color: white;
        margin: initial;
    }

   #fone {
    display: flex;
   
  
   }

   