:root {
    --cor-primaria: rgba(248, 129, 238, 0.986);
    --cor-secundaria: rgb(0, 23, 128);
    --cor-terciaria:#FDACE0;
    --branco: white; 
    --preto: black ;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    background-color: var(--cor-primaria); /*parte rosa*/
    padding: 4rem;
    display: flex;
   align-items: center;
   
}













