<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="/CSS/cadastroproduto.css">
</head>
<body>
    <header>
        <a href=""  class="LUDO">LUDO FASHION</a>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
            <button type="submit" id="btn-buscar"><img src="../IMGS/BOTAO DE BUSCAR.png" alt=""
                    width="25px" height="25px">
            </button>

        </form>
        <a href="" class="icon-link" id="cadastru">
            <img src="../IMGS/icone pessoa.png" alt="" width="50px" height="50px">
            Cadastre-se
            <a href="" class="icon-link" id="duvido">
                <img src="../IMGS/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="50px" height="50px">
                Dúvidas
                <a href="" class="icon-link" id="casa">
                    <img src="../IMGS/casa.png" alt="" width="45px" height="45px">
                    Home
                 </a>
                 <a href="" class="icon-link" id="fav">
                    <img src="../IMGS/favorito.png" alt="" width="45px" height="45px">
                    Favoritos
                 </a>
        </a>
        
    </header>
    <nav>
        <a href="">Catálogo</a>
        <a href="">Sobre a loja</a>
    </nav>
    <div id="cadastro">
    <h1>Cadastro de Produto</h1>
    <h2>Detalhes do produto</h2>
</div>

<div id="produto">
   <input type="text" placeholder="Código-produto" id="input">
   <input type="text" placeholder="Nome do Produto"  id="input">
   <input type="text" placeholder="Cor"  id="input">
   <input type="text" placeholder="Tamanho"  id="input">
   <input type="text" placeholder="Descrição do Produto"  id="input">


    <div id="caracteristicas">
        <h2>Caracteristicas do Produto:</h2>
        <h2>Marca:</h2>
        <h2>Tecido:</h2>
        <h2>Data de Envio</h2>
    </div>

    <button id="botao">Confirmar</button>
   
</div>

<img src="../IMGS/vestido.jpg" alt="" id="vestido"> 
<p id="add">ADD IMAGE</p> 


    <body>
    <html>