<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/categorias.css">
    <title>LudoFashion</title>
</head>
<body>
    <header>
        <a href="" id="Ludu">LUDO FASHION</a>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
            <button type="submit" id="btn-buscar"><img src="../IMGS/BOTAO DE BUSCAR.png" alt=""
                    width="30px" height="30px">
            </button>

        </form>
        
        <a href="" class="icon-link" id="cadastru">
            <img src="../IMGS/icone pessoa.png" alt="" width="50px" height="50px">
            Cadastre-se
        </a>
        <a href="" class="icon-link" id="duvido">
            <img src="../IMGS/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="50px" height="50px">
            Dúvidas
        </a>
         <a href="" class="icon-link" id="casa">
            <img src="../IMGS/casa.png" alt="" width="45px" height="45px">
            Home
         </a>
         <a href="" class="icon-link" id="fav">
            <img src="../IMGS/favorito.png" alt="" width="45px" height="45px">
            Favoritos
         </a>
        
    </header>
    <nav>
        <a href="">Catálogo</a>
        <a href="">Sobre a Loja</a>
    </nav>
   <section class="categorico">
    <h1> <img src="../IMGS/barra-de-menu.png" alt="" width="40px" height="40px">Categorias</h1>

    <div class="categoria-barra">
       <span class="categoria-1">
        Casual
        <img src="../IMGS/ferramenta-lapis.png" alt="" width="30px" height="30px">
        <img src="../IMGS/lixeira.png" alt="" width="30px" height="30px">
       </span>
       <span class="categoria-1">
        Esportivo
        <img src="../IMGS/ferramenta-lapis.png" alt="" width="30px" height="30px">
        <img src="../IMGS/lixeira.png" alt="" width="30px" height="30px">
       </span>
       <span class="categoria-1">
        Lingeries
        <img src="../IMGS/ferramenta-lapis.png" alt="" width="30px" height="30px">
        <img src="../IMGS/lixeira.png" alt="" width="30px" height="30px">
       </span>
       <span class="categoria-1">
        Social
        <img src="../IMGS/ferramenta-lapis.png" alt="" width="30px" height="30px">
        <img src="../IMGS/lixeira.png" alt="" width="30px" height="30px">
       </span>
       <span class="categoria-1">
        Bolsas
        <img src="../IMGS/ferramenta-lapis.png" alt="" width="30px" height="30px">
        <img src="../IMGS/lixeira.png" alt="" width="30px" height="30px">
       </span>
       <span class="categoria-1">
        Calcinhas
        <img src="../IMGS/ferramenta-lapis.png" alt="" width="30px" height="30px">
        <img src="../IMGS/lixeira.png" alt="" width="30px" height="30px">
       </span>
       <span class="categoria-1">
        Maquiagem
        <img src="../IMGS/ferramenta-lapis.png" alt="" width="30px" height="30px">
        <img src="../IMGS/lixeira.png" alt="" width="30px" height="30px">
       </span>
       <span class="categoria-1">
        Banho
        <img src="../IMGS/ferramenta-lapis.png" alt="" width="30px" height="30px">
        <img src="../IMGS/lixeira.png" alt="" width="30px" height="30px">
       </span>
       <span class="categoria-1">
        Modo Praia
        <img src="../IMGS/ferramenta-lapis.png" alt="" width="30px" height="30px">
        <img src="../IMGS/lixeira.png" alt="" width="30px" height="30px">
       </span>
       <span class="categoria-1" id="CATEGOR">
        <img src="../IMGS/mais.png" alt="" width="30px" height="30px">
        <button> Adicionar Categoria</button>
        
       
       </span>
    </div>
   </section>
</body>


</html>