<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="/CSS/login.css">
</head>
<body>

    <header>
        <a href="index.html" id="ludofashion">LudoFashion</a>
        <!-- campo de pesquisa -->
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
            <button type="submit" id="btn-buscar"><img src="../IMGS/BOTAO DE BUSCAR.png" alt=""  width="30px">
            </button>
        </form>
            
           
        <a href="#" class="icon-link">
            <img src="../IMGS/icone pessoa.png" alt="pessoa" width="40px">
            Cadastro
        </a>

        <a href="" class="icon-link">
            <img src="../IMGS/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="sinal de interrogação" width="40px">
            Dúvidas
        </a>
              
    </header>
    
    <nav> <!--a nav é a barrinha rosa mais clara-->
        <a href="catalogoo">Catálogo</a>
        <a href="sobre-a-loja">Sobre a Loja</a>
    </nav>

    <main>
        <section id="login">
            <div id="formulario">
                <h1>Login</h1>

                <form action="">
                    <div class="campo">
                        <label for="ilogin">E-mail</label>
                        <input type="email" name="login" id="ilogin" placeholder="Seu email..." required maxlength="30">
                    </div>

                    <div class="campo">
                        <label for="isenha">Senha</label>
                        <input type="password" name="senha" id="isenha" placeholder="Sua senha..." required minlength="8" maxlength="20">
                    </div>
                    <input type="submit" value="Entrar">

                    <div class="login-cadastro">
                        
                        <a href=""><img src="../IMGS/png-clipart-google-google-removebg-preview.png" alt="logo google de cadastro" width="40px"></a>
                        <a href=""><img src="../IMGS/Facebook_logo_(square).png" alt="logo facebook" width="40px"></a>
                        

                        <a href="cadastro.html">Cadastrar</a>
                        <a href="ajuda.html">Precisa de Ajuda?</a>
                    </div>
                </form>

            </div>
        </section>       
    </main>

    <footer>
        <div class="footer-container">
            <div class="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Perfil</a></li>
                    <li><a href="">Catálogo</a></li>
                    <li><a href="">Dúvidas</a></li>
                    <li><a href="">Sobre</a></li>
                </ul>
            </div>

            <div class="categoria">
                <h2>Categorias</h2>
                <ul>
                    <li><a href="">Casual</a></li>
                    <li><a href="">Esportivo</a></li>
                    <li><a href="">Lingeries</a></li>
                    <li><a href="">Social</a></li>
                    <li><a href="">Bolsas</a></li>
                    <li><a href="">Calcinhas</a></li>
                    <li><a href="">Maquiagem</a></li>
                    <li><a href="">Banho</a></li>
                    <li><a href="">Moda Praia</a></li>
                </ul>
            </div>

            <div class="rede-social">
                <h2>Rede Social</h2>
                <a href="#"><img src="../IMGS/whatsapp.png" alt="whatsapp" class="icon-rodape">WhatsAPP</a>
                <a href=""><img src="../IMGS/insta 2.png" alt="instagram" class="icon-rodape" width="60px">Instagram</a>
                <a href=""><img src="../IMGS/Facebook_logo_(square).png" alt="facebook" class="icon-rodape">Facebook</a>
                <a href=""><img src="../IMGS/tiktok.png" alt="tiktok" class="icon-rodape">Tiktok</a>
            </div>

            <div class="endereco">
                <h2>Endereço</h2>
                <address>
                    Rua São Pantaleão, 150, <br>Centro, São Luis - Ma
                </address>

                    <a href=""><img src="../IMGS/gmail.png" alt="email" class="icon-rodape">ludofashion@gmail.com</a>
                    <a href=""><img src="image/local.png" alt="localização" class="icon-rodape">Nossa localização</a>

            </div>

        </div>
        <p class="rodape-direito">&copy; 2024 LudoFashion. Todos os direitos reservados.</p>
    </footer>

</body>
</html>