<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoFashion</title>
    <link rel="stylesheet" href="/CSS/login.css">
</head>
<body>

    <header>
       <h1 class="LUDO">LudoFashion</h1>
        <!-- campo de pesquisa -->
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="Buscar...">
            <button type="submit" id="btn-buscar"><img src="../IMGS/BOTAO DE BUSCAR.png" alt=""  width="30px">
            </button>
        </form>
            
        <a href="" class="icon-link" id="cadastru">
            <img src="../IMGS/icone pessoa.png" alt="" width="50px" height="50px">
            Cadastre-se
        </a>
        <a href="" class="icon-link" id="cadastru">
            <img src="../IMGS/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="50px" height="50px">
            Dúvidas
        </a>
         <a href="" class="icon-link" id="cadastru">
            <img src="../IMGS/casa.png" alt="" width="45px" height="45px">
            Home
         </a>
         <a href="" class="icon-link" id="cadastru">
            <img src="../IMGS/favorito.png" alt="" width="45px" height="45px">
            Favoritos
        </a>
              
    </header>
    
    <nav id="barrinha">
        <a href="home">Catálogo</a>
        <a href="sobrealoja">Sobre a Loja</a>
    </nav>

    <main>
        <section id="login">
            <div id="formulario">
                <h1>Login</h1>

                <form action="">
                    <div class="campo">
                        <label for="ilogin">E-mail</label>
                        <input type="email" name="login" id="ilogin" placeholder="Seu email..." required maxlength="30">
                    </div>

                    <div class="campo">
                        <label for="isenha">Senha</label>
                        <input type="password" name="senha" id="isenha" placeholder="Sua senha..." required minlength="8" maxlength="20">
                    </div>
                    <input type="submit" value="Entrar">

                    <div class="login-cadastro">
                        
                        <a href=""><img src="../IMGS/png-clipart-google-google-removebg-preview.png" alt="logo google de cadastro" width="40px"></a>
                        <a href=""><img src="../IMGS/Facebook_logo_(square).png" alt="logo facebook" width="40px"></a>
                        

                        <a href="cadastro.html">Cadastrar</a>
                        <a href="ajuda.html">Precisa de Ajuda?</a>
                    </div>
                </form>

            </div>
        </section>       
    </main>

    

</body>
</html>